
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


:root{
    font-size: 16px;/*tamanho base so rem ->1 rem = 16px*/
    scroll-behavior: smooth;


/*TEMA: LIGHT*/
--plano-fundo:#353535;
--cor-fundo-tags:#bebebe;
--plano-de-fundo:#ffffff;

}
[data_tema="ligth"] {
--plano-de-fundo:#ffffff;
--cor-primaria-texto:#353535;
--cor-fundi-tags:#bebebe;

}


[data_tema="dark"] {
 --plano-de-fundo:#353535;
 --cor_primaria_texto:#ffffff;
 --cor-fundi-tags:#353535;
--cor-fundo-apresentacao:#ecb3b3;
}


h2 {
    background-color:rgb(212, 222, 231)

}
/*comentario no CSS*/


body{
    width: 80vw;/* 80vw: 80% da viewport width*/
    margin: auto; /*margem com ajuste automatico */
    font-size: 16px;/* o padrão é '16px */
    font-family:"Cantarell",sans-serif;
    font-weight: 200;
    background-color:var(--plano-de-fundo);
   
    

}
.tec {
    display:flex;
    justify-content: space-around;
}


section{
    
    padding: 30px; /*preenchimento [interno] */
}

section#Como_entrar_em_contato_comigo {
    background-color:rgb(214, 104, 159)

}
section#Resumo_Profissional {
    background-color:violet

}
section#idiomas_que_falo{
    background-color:rgb(96, 31, 19)
}

section#soft_skills{
    background-color:rgb(134, 33, 134)
}

section#experiência {
background-color: rgba(174, 39, 152, 0.772);

}

section#Formacao_Academica{
    background-color:rgb(168, 14, 112)
}
section#Cursos{
    background-color: rgb(214, 104, 159);

}
section#Hard_skills{
    background-color:mediumorchid
}
/*@tudo
 1. estilizar as demais seções
 2. estilizar elementos article
 3. tirar as sombras de texto
 */

#tecnologias {
    margin-top: 60px;
    display: flex; /*exibe com caixa flexivel (flebox)*/
    justify-content: space-evenly; /* 30% do pai (section id= "tecnologias"*/
    display:flex;}
   
   
.continue_lendo{
    /* background-color: blue; */
    color: white;
    transform: scale(1.2)
}

/*combinadores*/
article{
    width:30%; /*30% do opai (section id="tecnologias"*/
}

article h1 { /* h1 desscentente de article*/

    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;

}

article h2 {/* h2 descententes de article*/
    font-size:1.5rem;
    font-weight: 600; /*demi-bold (quase negrito)*/
    margin: 0 0 1rem 0;
}


article p {
        text-align:left;
        margin-bottom: 1rem;

      
    
    }
    

.autor{
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;
}

.data{
    font-style: oblique;
    font-size: 80%;
}


.continue_lendo{
    /* background-color: aquamarine; */
    padding: 5rem 1rem;
    margin-top:1rem;
    color:#afffff;
    text-decoration:none;
    color:#afffff;
    text-decoration:none;
}


article{
     width: 30%; /*30 do pai (setionid=tecnologias")*/
}

section#Idiomas_que_falo{
    background-color:rgb(222, 190, 222)
}

.titulo_secao{
    
    font-family:"Anta",sans-serif;
    color:black;
    font-size: 2rem;
    margin: 1rem; /*valores cima direita baixo esquerda*/
    padding: 1rem;/*valores:cima direita baixo esquerda*/


}

p{
list-style: none;height: 1,5;/*altura da linha: 1,5x o tamanho padão*/
margin: 1rem 0;/*valores:cima-baixo esquerda-direita*/    
}

h3{
    font-size: 1.5rem;
    font-weight:300;
    text-transform:uppercase;
    margin: 1rem 0;

}


.lista_tags li {
    display: inline-block;
    background-color:#ffffffcb;
    padding: 5px;
    border-radius: 4px;
    margin:5px 0;
    color:var(--cor-primaria-texto);
}


.Hard_Skills li {

    display: inline-block;
    background-color:#ffffffcb;
    padding: 5px;
    border-radius: 4px;
    margin:5px 0;
    color:var(--cor-primaria-texto);
}  


   