
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


:root{
    font-size: 16px;/*tamanho base so rem ->1 rem = 16px*/
}

h2 {
    background-color:aliceblue
}

/*comentario no CSS*/

body{
    width: 80vw;/* 80vw: 80% da viewport width*/
    margin: auto; /*margem com ajuste automatico */
    font-size: 16px;/* o padrão é '16px */
    font-family:"Cantarell",sans-serif;
    font-weight: 200;

}



section{
    
    padding: 30px; /*preenchimento [interno] */
}

section#entrar_em_contato_comigo {
    background-color: lightcoral;

}
section#Resumo_Profissional {
    background-color:violet

}
section#idiomas_que_falo{
    background-color:tomato
}

section#Soft_Skills{
    background-color:plum
}

section#Experiencia {
background-color: bisque;

}

section#Formacao_Academica{
    background-color:mediumvioletred
}
section#Cursos{
    background-color: hotpink;

}


#tecnologoias {

    display: flex; /*exibe com caixa flexivel (flebox)*/
    justify-content: center; /* 30% do pai (section id= "tecnologias"*/

}

/*combinadores*/

article h1 { /* h1 desscentente de article*/

    font-size: 2rem;
    font-weight: bold;

}

article h2 {/* h2 descententes de article*/
    font-size:1.5rem;
    font-weight: 600; /*demi-bold (quase negrito)*/


}
article p {
    text-align:

}


article{
     width: 30%; /*30 do pai (setionid=tecnologias")*/
}

section#Idiomas_que_falo{
    background-color:thistle
}

.titulo_secao{
    
    font-family:"Anta",sans-serif;
    color:black;
    font-size: 2rem;
    margin: 1rem; /*valores cima direita baixo esquerda*/
    padding: 1rem;/*valores:cima direita baixo esquerda*/


}

p{
list-style: none;height: 1,5;/*altura da linha: 1,5x o tamanho padão*/
margin: 1rem 0;/*valores:cima-baixo esquerda-direita*/    
}

h3{
    font-size: 1.5rem;
    font-weight:300;
    text-transform:uppercase;
    margin: 1rem 0;

}






    