@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Marcellus&display=swap');
:root{
    font-size: 16px;/*tamanho base so rem ->1 rem = 16px*/
}

h2 {
    background-color:aliceblue
}

/*comentario no CSS*/

body{
    width: 80vw;/* 80vw: 80% da viewport width*/
    margin: auto; /*margem com ajuste automatico */
    font-size: 16px;/* o padrão é '16px */
    font-family:"Anta",sans-serif;
    font-weight: 200;
}

section{
    
    padding: 30px; /*preenchimento [interno] */
}

section#Entrar_em_contato_comigo {
    background-color: lightcoral;

}
section#Resumo_Profissional {
    background-color:blanchedalmond;


}

section#Experiencia {
background-color: bisque;

}

section#Formacao_Academica{
    background-color: blueviolet;
}
section#Cursos{
    background-color: hotpink;

}

.titulo_secao{
    text-transform: uppercase;
    font-family:"Anta",sans-serif;
    color:dimgray;
    font-size: 2rem;
    margin: 1rem; /*valores cima direita baixo esquerda*/
    padding: 1rem;/*valores:cima direita baixo esquerda*/


}

p{
list-style: none;height: 1,5;/*altura da linha: 1,5x o tamanho padão*/
    
}

section#Soft_Skills{
    background-color:teal
}

section#idiomas_que_falo{
    background-color:tomato
}